{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="serviceDialog.show = true"
          >New Service</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Services</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportservicesCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="services"
          row-key="id"
          :columns="servicesTable.columns"
          v-model:pagination="servicesTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.label"
              ></q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="link"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.authUrl"
                  target="_blank"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="send"
                  :color="($q.dark.isActive) ? 'grey-8' : 'grey-6'"
                  type="a"
                  :href="props.row.displayUrl"
                  target="_blank"
                ></q-btn>
                <a class="text-secondary" :href="props.row.redirectURI"
                  >Redirect URI for Streamlabs</a
                >
              </q-td>
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.value"
              ></q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteService(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Donations</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportdonationsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="donations"
          :columns="donationsTable.columns"
          v-model:pagination="donationsTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.label"
              ></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.value"
              ></q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteDonation(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Stream Alerts extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "streamalerts/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="serviceDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendServiceData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="serviceDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <div class="row">
          <div class="col">
            <div v-if="walletLinks.length > 0">
              <q-checkbox v-model="serviceDialog.data.chain" label="Chain" />
            </div>
            <div v-else>
              <q-checkbox :value="false" label="Chain" disabled>
                <q-tooltip>
                  Onchain Wallet (watch-only) extension MUST be activated and
                  have a wallet
                </q-tooltip>
              </q-checkbox>
            </div>
          </div>
        </div>
        <div v-if="serviceDialog.data.chain">
          <q-select
            filled
            dense
            emit-value
            v-model="serviceDialog.data.onchain"
            :options="walletLinks"
            label="Chain Wallet"
          />
        </div>
        <q-input
          filled
          dense
          v-model.trim="serviceDialog.data.twitchuser"
          type="name"
          label="Twitch Username *"
        ></q-input>
        <q-select
          filled
          dense
          emit-value
          v-model="serviceDialog.data.servicename"
          :options="servicenames"
          label="Streamlabs"
          hint="The service you use for alerts. (Currently only Streamlabs)"
        ></q-select>
        <q-input
          filled
          dense
          v-model.trim="serviceDialog.data.client_id"
          type="name"
          label="Client ID *"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="serviceDialog.data.client_secret"
          type="name"
          label="Client Secret *"
        ></q-input>
        <div class="row q-mt-lg">
          <q-btn
            v-if="serviceDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            >Update Service</q-btn
          >

          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="serviceDialog.data.client_id == null || serviceDialog.data.client_secret == 0 || serviceDialog.data.twitchuser == null"
            type="submit"
            >Create Service</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('streamalerts/static', path='js/index.js') }}"></script>
{% endblock %}
